### Sprache Deutsch
A10001="MULTITOOL: wurde gestartet"
A10002="INFO: Server Name:"
A10003="INFO: Bash Version:"
A10004="INFO: MONO THREAD Einstellung:"
A10005="INFO: Spracheinstellung:"
A10006="INFO: Screen Version:"

Z10000="HILFE: Hilfe wurde angefordert"
Z10001="Der Verzeichnisname ist gleichzeitig auch der Screen Name!"
Z10002="MULTITOOL: Aufgabe wurde zufriedenstellend ausgeführt"