### Language: English
A10001="MULTITOOL: was started"
A10002="INFO: Server Name:"
A10003="INFO: Bash Version:"
A10004="INFO: MONO THREAD setting:"
A10005="INFO: Language setting:"
A10006="INFO: Screen Version:"

Z10000="HELP: Help was requested"
Z10001="The directory name is also the screen name!"
Z10002="MULTITOOL: Task was carried out satisfactorily" 