### Idioma español
A10001="MULTIHERRAMIENTA: se inició"
A10002="INFO: Nombre del servidor:"
A10003="INFO: Versión Bash:"
A10004="INFO: ajuste MONO THREAD:"
A10005="INFO: Configuración de idioma:"
A10006="INFO: Versión de pantalla:"

Z10000="AYUDA: Se solicitó ayuda"
Z10001="¡El nombre del directorio también es el nombre de la pantalla!"
Z10002="MULTIHERRAMIENTA: La tarea se realizó satisfactoriamente" 