### Langue Français
A10001="MULTITOOL: a été démarré"
A10002="INFO: Nom du serveur :"
A10003="INFO: Version Bash :"
A10004="INFO: Réglage FIL MONO :"
A10005="INFO: Réglage de la langue :"
A10006="INFO: Version de l'écran :"

Z10000="AIDE: de l'aide a été demandée"
Z10001="Le nom du répertoire est aussi le nom d'écran !"
Z10002="MULTITOOL: la tâche a été exécutée de manière satisfaisante" 