### Einstellungen ###

## Das Startverzeichnis home oder opt zum Beispiel.
	STARTVERZEICHNIS="opt"
	MONEYVERZEICHNIS="robust"
	ROBUSTVERZEICHNIS="robust"
	OPENSIMVERZEICHNIS="opensim"
	SCRIPTSOURCE="opensim-ossl-example-scripts-main"
	SCRIPTZIP="opensim-ossl-example-scripts-main.zip"
	MONEYSOURCE="OpenSimCurrencyServer-2021-master"
	MONEYZIP="OpenSimCurrencyServer-2021-master.zip"
	
## Dateien
	REGIONSDATEI="RegionList.ini"
	SIMDATEI="SimulatorList.ini"
	OPENSIMDOWNLOAD="http://opensimulator.org/dist/"
	OPENSIMVERSION="opensim-0.9.1.1"
	SEARCHADRES="icanhazip.com" # Suchadresse

## Inklusive
	SCRIPTCOPY="yes"
	MONEYCOPY="yes"
	PYTHONCOPY="no"
	MUTELISTCOPY="no"
	SEARCHCOPY="no"
	CHRISOSCOPY="no"
	AUTOCONFIG="no"

## Die unterschiedlichen wartezeiten bis die Aktion ausgefuehrt wurde.
	WARTEZEIT=30 # Ist eine allgemeine Wartezeit.
	STARTWARTEZEIT=10 # Startwartezeit ist eine Pause, damit nicht alle Simulatoren gleichzeitig starten.
	STOPWARTEZEIT=30 # Stopwartezeit ist eine Pause, damit nicht alle Simulatoren gleichzeitig herunterfahren.
	MONEYWARTEZEIT=50 # Moneywartezeit ist eine Extra Pause, weil dieser zwischen Robust und Simulatoren gestartet werden muss.
	BACKUPWARTEZEIT=120 # Backupwartezeit ist eine Pause, damit der Server nicht ueberlastet wird.
	AUTOSTOPZEIT=60 # Autostopzeit ist eine Pause, um den Simulatoren zeit zum herunterfahren gegeben wird, bevor haengende Simulatoren gekillt werden.

## Linux Einstellungen
	SETMONOTHREADSON="yes"
	SETMONOTHREADS=800
	SETULIMITON="yes"
	SETMONOGCPARAMSON="yes"
	SETMANUALPAGES="yes"

## Divers
	SETOSCOMPION="no" # Mit oder ohne log Datei kompilieren. yes oder no.
	SETAOTON="no"
	OSVERSION="opensim-0.9.2.0Dev"
