### Einstellungen VERSION="V0.81.724"

## Das Startverzeichnis home oder opt zum Beispiel.
	STARTVERZEICHNIS="opt"
	#STARTVERZEICHNIS="home"
	MONEYVERZEICHNIS="robust"
	ROBUSTVERZEICHNIS="robust"
	OPENSIMVERZEICHNIS="opensim"
	CONFIGPFAD="OpenSimConfig"
	
	SCRIPTSOURCE="opensim-ossl-example-scripts-main"
	SCRIPTZIP="opensim-ossl-example-scripts-main.zip"
	
	MONEYSOURCE="OpenSimCurrencyServer-2021-master"	
	MONEYZIP="OpenSimCurrencyServer-2021-master.zip"
	
	CONFIGURESOURCE="opensim-configuration-addon-modul-main"
	CONFIGUREZIP="opensim-configuration-addon-modul-main.zip"

	OSSEARCHSOURCE="OpenSimSearch"
	OSSEARCHSZIP="OpenSimSearch-master.zip"

## mySQL noch keine Funktion
	#hostname="localhost"; 
	# username="username"; 
	# password="userpasswd"; 
	# databasename="grid";
	#swpfilename="/opt/opensim.swp"

## Schrift- und Hintergrundfarben
##  0 – Black, 1 – Red, 2 – Green, 3 – Yellow, 4 – Blue, 5 – Magenta, 6 – Cyan, 7 – White
# font color;	background color;
	textfontcolor=7;    textbaggroundcolor=0;
	debugfontcolor=4;   debugbaggroundcolor=0;
	infofontcolor=2;    infobaggroundcolor=0;
	warnfontcolor=3;    warnbaggroundcolor=0;
	errorfontcolor=1;   errorbaggroundcolor=7;
	linefontcolor=7;    linebaggroundcolor=0;

	ScreenLogLevel=0; # ScreenLogLevel=0 nichts machen, bis ScreenLogLevel=5 Funktionsnamen ausgeben.
	LOGWRITE="no" # yes/no
	logfilename="_multitool"
	line="############################################################";
	
## Dateien
	REGIONSDATEI="RegionList.ini"
	SIMDATEI="SimulatorList.ini"
	OPENSIMDOWNLOAD="http://opensimulator.org/dist/"
	OPENSIMVERSION="opensim-0.9.2.2Dev"
	SEARCHADRES="icanhazip.com" # Suchadresse

	REGIONSANZEIGE="yes"

	LOGDELETE="yes" # yes/no
	VISITORLIST="yes" # yes/no - schreibt vor dem loeschen alle Besucher samt mac in eine log Datei.
	#DELREGIONS="no" # yes/no Erforderliche Konfiguration des Datenbank zugriff erforderlich "$username" "$password" "$databasename"
	#username="opensim"; password="opensim"; databasename="opensim";

	#DEBUGLOG="no" # yes/no
	#Set log level
	#loglevel=0 #text:0; debug:1; info:2; warn:3; error:4
	# Name und speicherort der Logdatei.
	#logfile="/$STARTVERZEICHNIS/$DATEIDATUM-multitool.log"
	
## Inklusive
	SCRIPTCOPY="yes"
	MONEYCOPY="yes"
	CONFIGURECOPY="no"
	PYTHONCOPY="no"
	MUTELISTCOPY="no"
	SEARCHCOPY="no"
	CHRISOSCOPY="no"
	AUTOCONFIG="no"
	OSSEARCHCOPY="no"

## Die unterschiedlichen wartezeiten bis die Aktion ausgefuehrt wurde.
	WARTEZEIT=60 # Ist eine allgemeine Wartezeit.
	STARTWARTEZEIT=10 # Startwartezeit ist eine Pause, damit nicht alle Simulatoren gleichzeitig starten.
	STOPWARTEZEIT=30 # Stopwartezeit ist eine Pause, damit nicht alle Simulatoren gleichzeitig herunterfahren.
	MONEYWARTEZEIT=60 # Moneywartezeit ist eine Extra Pause, weil dieser zwischen Robust und Simulatoren gestartet werden muss.
	ROBUSTWARTEZEIT=90 # Robust wartezeit ist eine Extra Pause, weil dieser komplett gestartet werden muss.
	BACKUPWARTEZEIT=180 # Backupwartezeit ist eine Pause, damit der Server nicht ueberlastet wird.
	AUTOSTOPZEIT=60 # Autostopzeit ist eine Pause, um den Simulatoren zeit zum herunterfahren gegeben wird, bevor haengende Simulatoren gekillt werden.

## Linux Einstellungen
	SETMONOTHREADSON="yes"
	SETMONOTHREADS=1024	
	SETULIMITON="yes"
	SETMONOGCPARAMSON1="no"
	SETMONOGCPARAMSON2="yes"
	#SETMANUALPAGES="yes"

## Mono Version fuer Build Vorgang Visual Studio 2019 oder 2022 - Zweite Zahl net/mono framework.
# 1948, 1950, 1960, 1970 - 2248, 2250, 2260, 2270
	netversion="2248"

## Divers
	SETOSCOMPION="no" # Mit oder ohne log Datei kompilieren. yes oder no.
	SETAOTON="no"
	# opensim-0.9.2.2Dev-4-g5e9b3b4.zip
	OSVERSION="opensim-0.9.2.2Dev-"
	AUTOCLEANALL="yes"
	GRIDCACHECLEAR="yes"
	SCRIPTCLEAR="no"

## OpenSim Downloads
	LINK01="http://opensimulator.org/dist/OpenSim-LastAutoBuild.zip"
	LINK02="http://opensimulator.org/dist/opensim-0.8.2.1-source.tar.gz"
	LINK03="http://opensimulator.org/dist/opensim-0.8.2.1-source.zip"
	LINK04="http://opensimulator.org/dist/opensim-0.8.2.1.tar.gz"
	LINK05="http://opensimulator.org/dist/opensim-0.8.2.1.zip"
	LINK06="http://opensimulator.org/dist/opensim-0.9.0.0-source.tar.gz"
	LINK07="http://opensimulator.org/dist/opensim-0.9.0.0-source.zip"
	LINK08="http://opensimulator.org/dist/opensim-0.9.0.0.tar.gz"
	LINK09="http://opensimulator.org/dist/opensim-0.9.0.0.zip"
	LINK10="http://opensimulator.org/dist/opensim-0.9.0.1-source.tar.gz"
	LINK11="http://opensimulator.org/dist/opensim-0.9.0.1-source.zip"
	LINK12="http://opensimulator.org/dist/opensim-0.9.0.1.tar.gz"
	LINK13="http://opensimulator.org/dist/opensim-0.9.0.1.zip"
	LINK14="http://opensimulator.org/dist/opensim-0.9.1.0-source.tar.gz"
	LINK15="http://opensimulator.org/dist/opensim-0.9.1.0-source.zip"
	LINK16="http://opensimulator.org/dist/opensim-0.9.1.0.tar.gz"
	LINK17="http://opensimulator.org/dist/opensim-0.9.1.0.zip"
	LINK18="http://opensimulator.org/dist/opensim-0.9.1.1-source.tar.gz"
	LINK19="http://opensimulator.org/dist/opensim-0.9.1.1-source.zip"
	LINK20="http://opensimulator.org/dist/opensim-0.9.1.1.tar.gz"
	LINK21="http://opensimulator.org/dist/opensim-0.9.1.1.zip"
	LINK22="http://opensimulator.org/dist/opensim-0.9.2.0-source.tar.gz"
	LINK23="http://opensimulator.org/dist/opensim-0.9.2.0-source.zip"
	LINK24="http://opensimulator.org/dist/opensim-0.9.2.0.tar.gz"
	LINK25="http://opensimulator.org/dist/opensim-0.9.2.0.zip"
	LINK26="http://opensimulator.org/dist/opensim-0.9.2.1.zip"

### Log Dateien
	apache2errorlog="/var/log/apache2/error.log"
	apache2accesslog="/var/log/apache2/access.log"
	authlog="/var/log/auth.log"
	ufwlog="/var/log/ufw.log"
	mysqlmariadberor="/var/log/mysql/mariadb.err"
	mysqlerrorlog="/var/log/mysql/error.log"

### Liste der zu verwendende Musiklisten.
	listVar="50s 60s 70s 80s 90s Alternative Blues Classic Club Country Dance Disco EDM Easy Electronic Folk Funk Gothic Heavy Hits House Indie Jazz Metal Misc Oldies Party Pop Reggae Rock Schlager Soul Techno Top Trance industrial pop"
